* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav{
  height: 5rem;
  overflow: hidden;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgb(26, 87, 156) 100%);
  display: grid;
  grid-template-columns: 50% 1fr;
  justify-content: space-around;
  align-items: center;
  box-shadow: 3px 5px 7px rgba(0, 0, 0,0.3);
}
nav img{
  width: 200px;
  padding-left: 2rem;
}

a{
  text-decoration: none;
}
.nav-links{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-content: center;
}
.nav-link{
  align-items: center;
}

.nav-link a{
  align-items: center;
  display: block;
  height: 5rem;
  text-align: center;
  display: grid;
  place-items: center;
  text-transform: capitalize;
  font-size: 1.2rem;
  color: #fff;
  transition: all 0.5s linear;
  position: relative;
}

.nav-link a::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
background: linear-gradient(90deg, rgba(252,176,69,1) 6%, rgba(253,29,29,1) 50%, rgba(131,58,180,1) 94%);
  transition: all 0.5s ease-in-out; 
}


.nav-link a:hover::after{
width: 100%;
}

.section{
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
}
.section::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0,0.5);
  z-index: 2
}

.section:nth-of-type(1){
  height: calc(100vh - 5rem);
}

.section1{background: url('https://images.pexels.com/photos/4597994/pexels-photo-4597994.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')center/cover no-repeat;}
.section2{background: url('https://images.pexels.com/photos/265129/pexels-photo-265129.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')center/cover no-repeat;}
.section3{background: url('https://images.pexels.com/photos/3401403/pexels-photo-3401403.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')center/cover no-repeat;}
.section4{background: url('https://images.pexels.com/photos/4709285/pexels-photo-4709285.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')center/cover no-repeat;}
.section5{background: url('https://images.pexels.com/photos/4348395/pexels-photo-4348395.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')center/cover no-repeat;}

.btn{
  display: block;
  padding: 1rem 2rem;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,30,0.6951155462184874) 56%, rgba(51,144,163,1) 100%);
  font-size: 2rem;
  text-transform: capitalize;
  border-radius: 20px;
  transform: translateY(300px);
  color: #fff;
  z-index: 30;
  transition: all linear 0.5s;
}

.btn::after{
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 0;
  height: 5px;
background: linear-gradient(90deg, rgba(252,176,69,1) 6%, rgba(253,29,29,1) 50%, rgba(131,58,180,1) 94%);
  transition: all 0.5s ease-in-out; 
}
.btn::before{
  content: "";
  position: absolute;
  top: -20px;
  right: 0;
  width: 0;
  height: 5px;
background: linear-gradient(90deg, rgba(252,176,69,1) 6%, rgba(253,29,29,1) 50%, rgba(131,58,180,1) 94%);
  transition: all 0.5s ease-in-out; 
}

.btn:hover{
  opacity: 0.8;
}
.btn:hover::after{
  width: 100%;
}
.btn:hover::before{
  width: 100%;
}