* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
  display: block;
}
.container1{
  width: 100vw;
  height: 100vh;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,30,0.6951155462184874) 56%, rgba(51,144,163,1) 100%);

  display: grid;
  place-items: center;
}

.img-container{
  display: flex;
  height: 50vh;
  border: 2px solid #fff;
  border-radius: 20px;
  overflow: hidden;
}

.img-card{
  width: 250px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.5s ease-in;
}



