* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.card img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body{
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 2;
}


.container1{
  width: 100vw;
  padding: 3rem;
  background: linear-gradient(90deg, rgba(110,110,110,1) 0%, rgba(221,36,45,1) 56%, rgba(51,144,163,1) 100%);
  /* display: grid;
  place-items: center; */
  overflow-x: hidden;
}
section{
  width: 100vw;
  height: 100vh;
}
.text-container{
  max-width: 1170px;
  display: grid;
  grid-template-columns:1fr;
  background: rgba(102, 39, 2, 0.13);
  padding: 1rem;
  border-radius: 20px;
  gap: 50px;
  margin: 3rem auto;

}

.card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 300px;
  gap: 50px;
}
.card h3{
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.863);
}
.card p{
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.658);
}

.lazy-img{
  filter: blur(20px);
}


